# ==============================================================================================
# ----------------------------------------------------------------------------------------------
#                                       Api Request
# ----------------------------------------------------------------------------------------------
# To log all XML responses set to yes
request.debug.log.api.call.response=

# request Proxy
request.proxy=
request.proxy.port=

# ----------------------------------------------------------------------------------------------
#                                       TestRail Log Data
# ----------------------------------------------------------------------------------------------

testrail.active=
testrail.api.url=
testrail.user=
testrail.user.id=
testrail.password=
testrail.project.id=
testrail.suite.regportal.id=

# ----------------------------------------------------------------------------------------------
#                                       Registration Server Test Data
# ----------------------------------------------------------------------------------------------

# Base URL/Hostname for Registration Server API requests. E.g., https://dev.internet.sony.tv/
registration.server.baseurl=

# ----------------------------------------------------------------------------------------------
#                                       Common Test Data
# ----------------------------------------------------------------------------------------------



# ================================================================================================================